<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categorie</title>
    <!-- Aggiungi il link al file CSS di Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>
    <h1>Nuova Categoria</h1>
    <form th:action="@{/categorie/create}" th:object="${categoria}" method="post">
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" />

        <br/>
        <input type="submit" value="Salva" />
    </form>
</body>
</html>
